

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Store Management System</title>

<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
 
</head>
<body>
 <h1>Home pages</h1>
 <div class="container my-2">
  <a th:href = "@{/showNewStoreForm}" class="btn btn-primary btn-sm mb-3"> Add Store </a>
<a th:href = "@{/listStores}" class="btn btn-primary btn-sm mb-3">list stores</a>
 
<a th:href = "@{/showNewItemForm}" class="btn btn-primary btn-sm mb-3"> Add Item </a>
<a th:href = "@{/listItems}" class="btn btn-primary btn-sm mb-3"> list Items </a>
<a th:href = "@{/showNewEmployeeForm}" class="btn btn-primary btn-sm mb-3"> Add Employee </a>
<a th:href = "@{/listEmployees}" class="btn btn-primary btn-sm mb-3"> list Employees </a>


 <a th:href = "@{/showNewReceiptDetail}" class="btn btn-primary btn-sm mb-3"> Receipt </a>
 <a th:href = "@{/listreceipt}" class="btn btn-primary btn-sm mb-3"> list Receipt </a>
 <a th:href = "@{/DeleteAllreceipt}" class="btn btn-primary btn-sm mb-3"> DeleteAllreceipt </a>
 </div>
</body>
</html>

