

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Store Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Save store</h1>
       

        <form action="#" th:action="@{/saveStore}" th:object="${store}" method="POST">
            <input type="text" th:field="*{storeCode}" placeholder="storeCode" class="form-control mb-4 col-4">

            <input type="text" th:field="*{storeAddress}" placeholder="storeAddress" class="form-control mb-4 col-4">

     

            <button type="submit" class="btn btn-info col-2"> Save </button>
        </form>

        <hr>

        <a th:href="@{/}"> Back to store List</a>
    </div>
</body>

</html>

